li{
    cursor: pointer;
}

.bg {
    background-color: #272727;
    color: white;
}

.fs-5 {
    color: #8d8d8d;
    margin: unset;
}

.bgGradient {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgb(255, 255, 255) 45%, rgb(84, 84, 84) 40%, rgb(55, 55, 55) 55%, rgb(39, 39, 39) 65%)
}

.list-group{
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.p0{
    padding-left: 0%;
    padding-right: 0%;
}

.rRT{
    border-top-right-radius: .25rem;
}