.hand {
    cursor: pointer;
    background-color: #80558c;
    padding: .5rem;
    margin: 0%;
    border-top: 1px solid #251B37;
}

.fs-5 {
    color: #E4D192;
    margin: unset;
}

.bgGradient {
    background: rgb(37, 27, 55);
    background: linear-gradient(270deg, rgba(37, 27, 55, 1) 0%, rgba(128, 85, 140, 1) 100%);
    border-left: 1px solid #251B37;
}

.list-group {
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}

.p0 {
    padding-left: 0%;
    padding-right: 0%;
}

.rRT {
    border-top-right-radius: .25rem;
}