<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-danger mt-2" type="button" (click)="closeSession()" routerLink="/">Logout</button>
</div>
<div class="card border-primary mt-4 " style="margin-bottom: 100px;">
    <div class="card-body text-primary">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>name</th>
                    <th>private</th>
                    <th>url</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let api of apiGit; index as i">
                    <td>{{apiGit[i].id}}</td>
                    <td>{{apiGit[i].name}}</td>
                    <td>{{apiGit[i].private}}</td>
                    <td>{{apiGit[i].html_url}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>